*{
    text-decoration: none;
    color: aliceblue;
}
.nav-bar {
    height: 10%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 25px;
    transition: transform 0.3s;
    width: 100%;
}

.nav-bar:hover {
    transform: scale(1.1);
}
.var{
box-shadow: 1px 1px 1px 1px;
border-radius: 50%;
width: 150px;
background-color: black;
}
.log{
    height: 50px;
    width: 50px;
    display: flex;
    padding: 10px;

    
}
.menu-logs{
    display: flex;
    justify-content: flex-end;
}
.menu-var{
    display: flex;
    align-items: center;
    justify-content: space-around;
}