.lista{
    width: 200px;
    height: 200px;
    list-style: none;
    padding: 20px;
    border: 1px black solid;
    margin: 10px;
border-radius: 50%;
background-size: cover;
transition: ease-in .4s;

background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Pok%C3%A9_Ball_icon.svg/2052px-Pok%C3%A9_Ball_icon.svg.png);
}
.lista :hover{
    transform: scale(1.8);

}
.vox{
display: flex;
justify-content: center;
flex-wrap: wrap;
padding: 20px;
align-items: center;
}
.search{
    width: 200px;
    height: 25px;
}
.logo{
    width: 50px;
    height: 50px;
    padding: 20px;
}
.imgs{
    width: 100px;
    height: 150px;
}
.word{
    text-transform: uppercase;
    -webkit-text-stroke-width: thick;
}
.cont-search{
    display: flex;
    align-items: center;
    justify-content: center;
}
.title{
    display: flex;
    justify-content: center;
}
.logopoke{
    width: 400px;
    height: 200px;
    padding: 50px;
}
